; TODO: Update all libraries one by one and test that app still works.
{:paths ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :common {:extra-paths ["src/cljc" "src/dev"]
                    :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
           :backend {:extra-paths ["src/clj"]}
           :frontend {:extra-paths ["src/cljs"]
                      :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                                   thheller/shadow-cljs {:mvn/version "2.19.9"}
                                   binaryage/devtools {:mvn/version "1.0.6"}
                                   reagent/reagent {:mvn/version "1.1.1"}
                                   metasoarous/oz {:mvn/version "1.6.0-alpha36"}
                                   kixi/stats {:mvn/version "0.5.5"}
                                   aerial.hanami/aerial.hanami {:mvn/version "0.15.1"}}}}}
