;; shadow-cljs configuration
{:deps {:aliases [:dev :common :frontend]}

 :dev-http {8700 "public"}

 :aliases {:cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.5"}}}}

 :builds {:bayes {:output-dir "public/js/compiled"
                  :asset-path "/js/compiled"
                  :target     :browser
                  :modules {:bayes {:init-fn bayes-main-page/init}}}
          :memory-efficiency {:output-dir "public/js/compiled"
                              :asset-path "/js/compiled"
                              :target     :browser
                              :modules {:memory-efficiency {:init-fn memory-efficiency/init}}}
          :memory-efficiency-2 {:output-dir "public/js/compiled"
                               :asset-path "/js/compiled"
                               :target     :browser
                               :modules {:memory-efficiency-2 {:init-fn memory-efficiency-2/init}}}}}
