;; shadow-cljs configuration
{:deps true

 :dev-http {8700 "public"}

 :builds {:bayes {:output-dir "public/js/compiled"
                  :asset-path "/js/compiled"
                  :target     :browser
                  :modules {:bayes {:init-fn bayes/init}}}
          :memory-efficiency {:output-dir "public/js/compiled"
                              :asset-path "/js/compiled"
                              :target     :browser
                              :modules {:memory-efficiency {:init-fn memory-efficiency/init}}}}}
