;; shadow-cljs configuration
{
:deps true

 :dev-http {8700 "public"}

 :builds {:my-build-id {:output-dir "public/js/compiled"
                        :asset-path "/js/compiled"
                        :target     :browser
                        :modules {:main {:init-fn test/init}}}}}
